{
  "plugins": ["@babel/plugin-transform-object-assign"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ie 11",
            "last 2 versions"
          ]
        },
        "modules": false
      }
    ]
  ],
  "exclude": [
    "node_modules/**",
    "dist"
  ]
}
