language: node_js
node_js:
  - "8"
branches:
  only:
  - master
  - development
script:
  - npm run lint
  - npm run test:cov
cache:
  directories:
  - "node_modules"
after_success: npm run coverage